a:link, a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

a img { border: 0; }

body {
    background-color: #fff;
    color: #000;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

#container {
    margin: 2em auto;
    width: 80em;
}

.chart { text-align: center; }

.clear { clear: both; }

dl.flat dd { margin: 0; }

dt { font-weight: bold; }

dt:after { content: ":"; }

h3 {
    background-color: black;
    color: #ffcf3e;
    font-size: 1em;
    margin-bottom: 0;
    padding: 4px;
    text-align: center;
}

ul#flash-messages {
    color: #ff0000;
    background-color: #ffffcc;
    font-size: 12px;
    font-style: italic;
    margin-left: 40px;
    padding: 4px;
    list-style: none;
}

#user-info {
    margin-top: 1em;
}

#user-basic-info {
    float: left;
}

#user-avatar {
    float: right;
    text-align: right;
}

#avatar-history table, #avatar-history td {
    border-style: none;
}

#avatar-history .date {
    color: gray;
    font-weight: bold;
}

.collage { text-align: center; }

/* Evens and odds */
.even { background-color: #ffeebb; }

.odd { background-color: #ffe495; }

/* Footer */
#footer {
    margin-top: 2em;
    text-align: center;
}

.disclaimer {
    color: gray;
    font-size: 0.9em;
    font-weight: bold;
}

/* Forms */
input[type="submit"] {
    background-color: #fff;
    color: #000;
}

/* Search */
#search {
    bottom: 0;
    padding: 6px;
    position: absolute;
    right: 0;
}

.hl strong {
    background-color: yellow;
    color: red;
}

#search p { margin: 0 }

/* Header */
#header img { float: left; }

#header { background: url(../images/header_m.gif) repeat-x; }

#header-r {
    background: url(../images/header_r.gif) right no-repeat;
    position: relative;
}

/* Nav */
#nav {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 2px 4px;
}

#nav a:link, #nav a:visited {
    color: #fff;
    font-weight: normal;
}

#nav p { margin: 0; }

#nav-l {
    float: left;
    text-transform: lowercase;
}

#nav-r { float: right; }

/* Pager */
.pager { font-weight: bold; }

.pager a:link, .pager a:visited { text-decoration: underline; }

.pager a:hover { text-decoration: none; }

/* Quotes */
.quotetop, .quotemain {
    margin-left: 2em;
    padding-left: 0.5em;
}

.quotetop { font-weight: bold; }

.quotemain {
    background-color: #fff4d2;
    border: 1px solid #999;
    color: #444;
}

/* Tables */
table {
    border-collapse: collapse;
    border-color: #000;
    border-style: solid;
    border-width: 0 0 1px 1px;
    width: 100%;
}

td, th {
    border-color: #000;
    border-style: solid;
    border-width: 1px 1px 0 0;
    margin: 0;
    padding: 4px;
    vertical-align: top;
}

thead tr {
    background-color: black;
    color: #ffcf3e;
}

th { text-align: center; }

.posts .author { width: 15em; }

.posts .author p {
    margin-top: 0;
    padding-top: 0;
}

.quote { float: right; }

.topics td.author { background-color: #ffd555; }

.topics td.posts { background-color: #ffeebb; }

.topics td.title { background-color: #ffe495; }

.warning {
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

.yello {
    background-color: #ffe495;
    border: 1px solid #000;
    padding: 10px;
}

#games {
    text-align: center;
}

/* Avatar guessing game */
#guess-avatar {
    margin-bottom: 1em;
    text-align: center;
}

#guess-avatar p {
    background-color: #ffeebb;
    padding: 1em;
}

#guess-avatar ul {
    column-count: 4;
    column-gap: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guess {
    background: #fece2f url(../images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
    border: 1px solid #d19405;
    color: #4c3000;
    font-weight: bold;
    padding: 1.4em;
    width: 100%;
}

.correct-guess { color: #BFFF00; font-size: 4em; }
.wrong-guess { color: #DE3163; font-size: 4em; }

/* Voting */
a.upvote { color: #009530; }

a.downvote { color: #cc0000; }

.votes {
    font-size: 14px;
    float: right;
}

/* schatz */
a.elita[href="/users/1583"] {
    /* Royal Blue */
    color: #002366;
}

a.elita[href="/users/1583"]:before {
    content: url(../images/crown.gif);
}

/* Ezekiel */
a.elita[href="/users/16752"] {
    /* Fandango Pink */
    color: #b53389;
}

a.elita[href="/users/16752"]:after {
    content: "-hime";
}

a.elita[href="/users/16752"]:before {
    content: url(../images/rose.gif);
}

/* Vladimir Gajšek */
a.elita[href="/users/14638"] {
    /* Gray-asparagus */
    color: #465945;
}

a.elita[href="/users/14638"]:before {
    content: url(../images/donator.gif);
}

/* viddek */
a.elita[href="/users/16506"] {
    /* Gray-asparagus */
    color: #465945;
}

a.elita[href="/users/16506"]:before {
    content: url(../images/donator.gif);
}

/* Mr Shears */
a.elita[href="/users/1947"] {
    /* Vermillion */
    color: #e34234;
}

a.elita[href="/users/1947"]:before {
    content: url(../images/sunglasses.png);
}

/* loky3000 */
a.elita[href="/users/4735"] {
    /* Hot pink */
    color: #ff69b4;
}

a.elita[href="/users/4735"]:before {
    content: url(../images/axe.png);
}

/* Lord Jocker */
a.elita[href="/users/10787"] {
    /* Tyrian Purple */
    color: #66023c;
}

a.elita[href="/users/10787"]:before {
    content: url(../images/tamaki2.png);
}

/* Kokodajs */
a.elita[href="/users/130"]:before {
    content: url(../images/ladybug.png);
}

/* Vladimir Gajšek */
a.elita[href="/users/1067"] {
    /* Gray-asparagus */
    color: #465945;
}

a.elita[href="/users/1067"]:before {
    content: url(../images/donator.gif);
}
