a:link, a:visited { color: #333; }

a:hover { color: #333; }

body {
    background-color: #FFF;
    color: #333;
    font-family: Georgia, serif;
    font-size: small;
    margin: 1em auto;
    min-width: 800px;
    width: 40em;
}

.chart_title {
    color: #80007f;
    font-size: 1em;
}


.clear { clear: both; }

.col3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.col4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.even {
    background-color: #dff6ec;
    line-height: 0.9em;
    margin: 10px;
    padding: 4px;
}

.meta {
    font-size: 0.75em;
    line-height: 0.1em;
}

.navigation, .themes { margin: 0.5em; }

.pagination li {
    float: left;
    list-style-type: none;
}

.pagination li.page { background-color: #0a0a0a; }

.quotemain, .quotetop {
    border-left: 5px solid #FFF;
    margin-left: 2em;
    padding-left: 0.5em;
}


table {
    border-collapse: collapse;
    line-height: 2em;
    width: 100%;
}

th { text-align: left; }

.themes { text-transform: uppercase; }

.title { color: #008080; }

.tris {
    text-decoration: blink;
    text-transform: uppercase;
}

.up { text-transform: uppercase; }
